* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Be Vietnam', sans-serif;
}

/*lo que hizo miguel*/

.container {
    max-width: 100rem;
    /* 1 rem = 10px */
    margin: 0 auto;
}

/* Barra de navegación */
.nav {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    background-color: #F6E0C2;
}
.nav__logo__img {
    display: block;
    width: 10%;
    cursor: pointer;
    padding-left: 2rem;
}

.nav__logo {

    height: inherit;
    display: flex;
    flex-flow: row wrap;
}
.nav__links{
    width: 20%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 1rem;
    margin-left: 45em;
    
}
.nav__links__link{
    display: block;
    text-decoration: none;
    color: #000;
    font-family: 'Be Vietnam', sans-serif;
    font-size: 1rem;
    padding-top: 1.5rem;
    transition: all 300ms;
}
.nav__links__link:hover {
    color:rgb(255, 255, 255);
    transform: scale(1.2);
}
.nav__button {
    border: none;
    width: 10rem;
    height: 3em;
    font-family: 'Be Vietnam', sans-serif;
    margin: 1.5rem 0;
    margin-top: 2em;
    margin-right: 3rem;
    border-radius: 2rem;
    font-size: 1rem;
    padding: 0rem;
    transition: all 300ms;
    cursor: pointer;
}
.nav__button:hover {
    color:rgb(235, 153, 98)
}
/*lo que hizo miguel*/
.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #000000;
    margin-bottom: 60px;
    font-family: 'Concert One';
    font-weight: 300;
    font-size: 35px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header {
    width: 100%;
    height: 600px;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(29, 79%, 74%, 0.459), hsla(317, 45%, 52%, 0.664)), url(../img/portada.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(36, 87%, 65%, 0.459), hsla(32, 63%, 62%, 0.664)), url(../img/portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 100px;
    color:#fff;
    font-family: 'Concert One';
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* About us */

main .sobre-nosotros{
    
    padding: 60px 0 60px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 50%;
    margin-bottom: 40px;
}

.contenido-textos h3{

    padding: 30px 30px 0px 100px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.contenido-textos p{
    padding: 30px 35px 40px 50px;
    font-weight: 400;
    text-align: justify;
    margin-right: 30px;
}
.contenido-textos button{
    margin: 0px 0px 0px 150px;
    background-color: #F6E0C2;
}

/*  Our team */

.servicio-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}

/* Clients */

.cards{
    
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #f0c8a4;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px #ad855f;
}

.cards .card img{
    width: 100px;
    height: 100px;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: rgb(32, 20, 9);
    
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}
/* Cards */

.content-cuadros{
    display: flex;
    width: 100%;
    justify-content:space-evenly;
    flex-direction: row;
    flex-wrap: row-wrap;
}

.cuadro{
    width: 20%;
    text-align: center;
    height: 400px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(0.96);
    transition: transform 0.6s;
}

.cuadro:hover{
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
    cursor: pointer;
}

.cuadro h3{
    margin: 10px 0 20px 0;
    color: #8a545b;
    font-size: 20px;
}
.cuadro img{
    width: 50%;
    margin-top: 30px;
}
.cuadro p{
    font-weight: 40;
    font-size: 15px;
    padding: 0px 15px;
    margin-bottom: 20px;
}

.cta{
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(45deg, #fdb77d 0%, #fad0c4 99%, #fad0c4 100%);
    padding: 12px 15px;
    border-radius: 8px;
    color: #fff;
}

/* Contacto */
#contacto{
    background: #F6E0C2;
}
#contacto .contenedor{
    margin-top: 0px;
    padding-top: 30px;
}
.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.input{
    background:rgb(255, 255, 255);
    border: 0;
    color: rgb(0, 0, 0);
    outline: none;
    border: 0px;
    padding: 20px 30px;
    font-family: 'Be Vietnam', sans-serif;
    font-size: 17px;
}

.input::placeholder{
    color: rgb(0, 0, 0);
    font-family: 'Be Vietnam', sans-serif;
}

input[type="text"], input[type="email"]{
    display: inline-block;
    width: 49%;
    margin-bottom: 30px;
}

.form textarea{
    width: 100%;
    font-family: 'Be Vietnam', sans-serif;
}

input[type="submit"]{
    width: 120px;
    text-align: center;
    padding: 10px;
    border: 0px;
    margin-top: 30px;
    background-color: #f0c8a4;
    font-family: 'Be Vietnam', sans-serif;
}

input[type="submit"]:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
    background: rgb(248, 192, 127);
}
/* footer */

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #e2a36c;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}
@media screen and (max-width:1400px){
    .nav__links{
        width: 25%;
        margin-top: 1rem;
        margin-left: 20em;
        
    }
    
}

@media screen and (max-width:900px){
    .nav{
         justify-content: start;
     }
    .nav__logo__img{
        width: 16%;
        margin-top: 0.5em;
    }
    .nav__links{
        width: 40%;
        margin-top: 1rem;
        margin-left: 5em;
        
    }
    .nav__button{
        margin-left: 3em;
    }
    .contenedor-sobre-nosotros {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .contenedor-sobre-nosotros .contenido-textos{
        width: 90%;
    }
    .contenido-textos h3{

        padding: 0px;
        margin: 0px;
    }
    
    .contenido-textos p{
        padding: 40px 0px;
        margin: 0px;
    }
    .contenido-textos button{
        margin: 0px;
    }

    .imagen-about-us{
        width: 80%;
    }
    .cards {
    display: flex;
    flex-direction: column;
    align-items: center;

    }
    .cards .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        height: 80%;
        margin: 30px 0px;
    }
    .cards .card img{
        margin-top: 1em;
        width: 35%;
        height:1%;
    }
    .cards .card > .contenido-texto-card{
        width: 70%;
        font-size: 100%;
        
    }
    
    .cards .card > .contenido-texto-card p {
        padding-bottom: 40px;
        text-align: justify;
    }
  
    /* servicios */

    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind{
        width: 90%;
        text-align: center;
    }
   
    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }

    .servicio-ind img{
        width: 70%;
    }
     /* Programas */

     .cuadro{
        width: 90%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:400px){
    header {
        display: flex;
    }
    .nav {
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .nav__logo__img {
        width: 25%;
        padding: 0px;
    }

    .nav__links{
        width: 15%;
        margin: 0rem;
      
    }
    .nav .nav__button{
        margin-left: 75px;
    }
    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }
    /* Footer */

    .contenedor-footer{
        flex-direction: column;
        border: none;
    }
    .cards .card{
        width: 90%;
    }
    .cards .card img{
        margin-top: 1em;
        width: 35%;
    }
    .cards .card .contenido-texto-card{
        font-size: 14px;
    }
    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }

    .cuadro{
        height: 380px;
    }
}